{% import 'utils.html' as utils %}
{% extends 'base.html' %}

{% block header %}


{% endblock %}

{% block content %}


<div class="row justify-content-center text-center">

    <div class="col-md-10">
        <img src="{{url_for('static', filename='tb-profiler-logo-rectangle.png')}}" alt="">
    </div>


</div>


<div class="row justify-content-center text-center">
    <div class="col-md-10">
        <div><h2>TBDR - Down for maintenance</h2></div>
        <div>We are currently doing some work improving the webserver. Please check back here shortly.</div>
    </div>
</div>
{% endblock %}
